<p>Olá <%= @resource.email %>!</p>

<p>Alguem requisitou um link para alterar a sua senha, você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'alterar_senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou isto, por favor ignore este email.</p>
<p>Sua senha não será alterada enquanto você não acessar o link abaixo e criar uma nova.</p>
